@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Splaiul Independentei 290<br />
    Bucuresti<br />
    <abbr title="Phone">P:</abbr>
    0728197569
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@shop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@shop.com</a>
</address>